<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./commons/header %>
</head>

<body>
    <header>
        <% include ./commons/nav-bar %>
    </header>
    <main>
        <form name="form1" method="POST" action="/user/add">
            <table>
                <tr>
                <td>First name</td>
                <td><input type="text" name="email" ></td>
                </tr>
                <tr>
                <td>last name</td>
                <td><input type="password" name="password" ></td>
                </tr>
                <tr>
                <td colspan="2"><input type="submit" value="Save" ></td>
                </tr>
            </table>
        </form>   
    </main>
    <footer>
        <% include ./commons/footer %>
    </footer>
</body>

</html>