<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./commons/header %>
</head>

<body>
    <header>
        <% include ./commons/nav-bar %>
    </header>
    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <h1>Index Page</h1>
        </div>
    </main>
    <footer>
        <% include ./commons/footer %>
    </footer>
</body>

</html>